#walrus-showing {
  display: none;
}

#whale-showing {
  display: none; 
}

#blue {
  color: red;

}

.clickable { 
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.click { 
  cursor: pointer;
  color: #0088cc;
}

.click:hover {
  text-decoration: underline;
}

#walrusInfo {
  display: none;
}

#whaleInfo {
  display: none;
}

#infoToggleWalrus { 
  cursor: pointer;
  color: #0088cc;
}

#infoToggleWalrus:hover {
  text-decoration: underline;
}

#infoToggleWhale { 
  cursor: pointer;
  color: #0088cc;
}

#infoToggleWhale:hover {
  text-decoration: underline;
}