#walrus-showing {
  display:none
}

.clickable {
  text-decoration: unset;
  color: red;
  cursor: grab;
}

#whale-showing {
  display: none;
}

.click {
  text-decoration: solid;
  color: blueviolet;
  cursor: pointer;
}

.body {
  display: none;
}

#black {
  display:block;
  margin: 0 auto;
 
}
